*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Dark Theme */
    /* Backgrounds */
    --pageBackground: #505054;
    --backgroundBody: #3A3A3C;
    --screenBackground: #505054;
    
    /* Button Colors */
    --numberBtn: #505054;
    --operatorBtn: #FF9500;
    --functionBtn: #A5A5A5;
    
    /* Text Colors */
    --textWhite: #FFFFFF;
    --textBlack: #000000;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--pageBackground);
}
.page.lightTheme{
    --pageBackground: #F2F3F5;
}

/* Light Theme */
.calculator.lightTheme{

    --backgroundBody: #dbdbdd ;
    --screenBackground: #f8f8f8; 
    --numberBtn: #FFFFFF;
    --operatorBtn: #fcac34; 
    --functionBtn: #e7e6e6;
  
    --textWhite: #222; 
    --textBlack: #222;
}

.calculator{
    width: 320px;
    max-width: 100%;
    background-color: var(--backgroundBody);
    border-radius: 24px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    overflow: hidden;
}

.theme{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#changeTheme{
    background-color: var(--screenBackground);
    color: var(--textWhite);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    border: none;
    border-radius: 100%;

    width: 40px;
    height: 40px;

    font-size: 1.2rem;
    cursor: pointer;
    transition: filter 0.1s ease;
}

#changeTheme:hover{
    filter: brightness(1.2);
}


.screen{
    background-color:var(--screenBackground);
    border-radius: 16px;
    padding: 20px 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.screen input{
    font-family: "Bitcount Grid Single", system-ui;
    width: 100%;

    background: none;
    border: none;
    outline: none;

    color: var(--textWhite);
    font-size: 3rem;                                               
    text-align: right; 
    
    caret-color: transparent;
}

.deletePart{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.deleteBtn{
    font-family: "League Spartan", sans-serif; 
    /* font-weight: bold; */
    background-color: var(--functionBtn);
    border:none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1.5rem;
    transition: 0.1 ease;
    cursor: pointer;
    color: var(--textBlack);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.deleteBtn:hover{
    filter: brightness(1.2);
}

.deleteBtn:active{
    filter: brightness(0.9);
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.keypad button {
    font-family: "League Spartan", sans-serif; 
    font-size: 1.5rem;
    font-weight: bold;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.1 ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}
.keypad button:hover{
    filter: brightness(1.2);
}

.keypad button:active{
    filter: brightness(0.9);
}

.number{
    background-color: var(--numberBtn);
    color: var(--textWhite);
}

.function.clear{
    grid-column: 1 / 3;
    aspect-ratio: auto;
    border-radius: 12px;
}

.operator{
    background-color: var(--operatorBtn);
    color: var(--textWhite);
}

.function{
    background-color: var(--functionBtn);
    color: var(--textBlack);
}

.number.zero{
    grid-column: 2 / 4;
    aspect-ratio: auto;
    border-radius: 12px;
}

@media (min-width: 768px){
    .calculator{
        width: 450px;
        border-radius: 16px;
    }

    .deleteBtn{
        border-radius: 6px;
        width: auto;
        height: auto;
        padding: 10px 18px;
        font-size: 2.8rem;
    }
    
    .screen input{
        font-size: 2.5rem;
    }
    
    #changeTheme{
        width: 48px;
        height: 48px;
        border-radius: 8px;
        font-size: 1.5rem;

    }

    .keypad button{
        border-radius: 12px;
        font-size: 2rem;
    }
}